.main-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  min-height: 100vh;
  max-height: 100%;
  min-width: 100vw;
}

.content-div {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.first-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bg-image {
  width: 500px;
  height: 300px;
}

.tab-elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.tab-button {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  color: #ffffff;
  font-size: 20px;
  outline: none;
  min-width: 60px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  list-style-type: none;
  padding: 0px;
}

.image-button {
  width: 86px;
  height: 86px;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-right: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 86px;
  height: 86px;
}

@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .content-div {
    padding: 20px;
    height: 95vh;
    min-height: 100%;
    overflow-y: hidden;
  }
  .tab-button {
    min-width: 40px;
    height: 30;
    font-size: 14px;
  }
  .thumbnail-images {
    width: 300px;
    height: auto;
    justify-content: center;
  }
  .image-button {
    width: 60px;
    height: 60px;
  }
  .thumbnail-image {
    width: 60px;
    height: 60px;
  }
}
